{% extends "layout.html" %}

{% block title %}
    history
{% endblock %}

{% block main %}
    <h3>Transactions</h3>

    <table class="table">
  <thead>
    <tr>
      <th scope="col">Symbol</th>
      <th scope="col">Shares bought/sold</th>
      <th scope="col">Price bought/sold at</th>
      <th scope="col">Action</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.symbol }}</td>
            <td>{{ transaction.shares }}</td>
            <td>{{ transaction.price }}</td>
            <td>{{ transaction.action }}</td>
            <td>{{ transaction.transacted }}</td>
        </tr>
        {% endfor %}
    </tr>
  </tbody>

{% endblock %}